body {
    display: flex;
    justify-content: center;
    background-color: #010b16;
    color: #F0F0F0;

    margin: 0;
}

.main {
    display: flex;
    background-color: #00162b;
    box-shadow: 0px 0px 20px 35px #00162b;
}

#max-verstappen {
    width: 450px;
    height: 100vh;
}

.dummy_text {
    padding-left: 30px;
}

.maxnt {
    width: 60vw;
    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button {
    padding: 10px 25px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #012342;
    box-shadow: inset 0 -1px 5px #011528;;
    border: none;
    color: white;
}

legend {
    padding-left: 30px;
}

fieldset {
    padding-left: 30px;

    display: flex;
    gap: 30px;
    border: none;
    box-shadow: 0 5px 5px #012342;
    
} 

input {
    border-radius: 5px;
    border: none;
    background-color: #012342;
    box-shadow:inset 0 -1px 5px #011528;
}

p {
    padding-left: 30px;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100vw;
        flex-direction: column;
    }

    #max-verstappen {
        width: 100vw;
        margin-bottom: 20px;
    }

    .maxnt {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .dummy_text {
        width: 100vw;
        padding: 0;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    legend {
        padding: 20px;
    }

    fieldset {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    #button {
        margin: 20px 20px;
        justify-self: center;
    }

}